$background-gradient: linear-gradient(126.11deg, #B5C8C9 -33.6%, #92C0D3 94.09%);;
$card-background: #6EACC4;
$word-color:hsla(196, 36%, 10%, 0.95);
$choice-background: #5E9FBA;
$choice-right:#5eba79;
$choice-wrong:#ba5e79;